@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.poppins-font {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
main , header{
    margin: 30px 65px;
}

.flex{
    display: flex;
}

nav{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
.nav-title{
    color: rgb(58, 58, 58);
font-size: 1rem;
font-weight: 700;
}
.nav-lists{
    gap: 20px;
  
}
.nav-item{
 list-style: none;
   color: rgb(58, 58, 58);
font-size: 0.7rem;
font-weight: 600;
}
.nav-anchor{
  text-decoration: none;
  
}
.start{
    justify-content: space-between;
    gap: 180px;
    margin-bottom: 100px;
}
.start-title{
color: rgb(58, 58, 58);
font-size: 2.1rem;
font-weight: 700;
text-align: left;
margin-bottom: 0px;
margin-top: 67px;
}
.start-description{
color: rgb(58, 58, 58);
font-size: 0.7rem;
font-weight: 600;
text-align: left;
}
.btn{
    color: rgb(255, 255, 255);
font-size: 0.7rem;
font-weight: 700;
text-align: center;
border-radius: 41px;
background: rgb(224, 44, 109);
padding: 3px 10px 3px 10px;
border: none;
}
.bg-image{
    width: 100%;
}
.main-camera{
 
   margin-left: -450px;
   position: absolute;
}

.logo{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    margin-left: 75px;
    margin-right: 75px;
    gap: 13px;
}
.logo-img{
    width: 60px;
}


.popular{
    color: rgb(58, 58, 58);
font-size: 1rem;
font-weight: 600;
text-align: center;
margin-top: 100px;
margin-bottom: 30px;
}
.collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}

.each-collection{
border-radius: 5px;
padding: 13px;
box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
background: rgb(255, 255, 255);
margin: 0px;
}
.collection-img{
    width: 100%;
}
.name{
color: rgb(24, 25, 31);
font-size: 1.08rem;
font-weight: 500;
text-align: left;
margin-bottom: 0px;
}
.price{
color: rgba(0, 0, 0, 0.87);
font-size: 0.76rem;
font-weight: 400;
text-align: left;
margin-top: 0px;
margin-bottom: 0px;
}
.description{
color: rgb(120, 120, 133);
font-size: 0.6rem;
font-weight: 700;
text-align: left;
width: 65%;
}



@media screen and (max-width : 576px) {

.start{
    flex-direction: column-reverse;
    gap: 0px;
}

  .main-camera{
  width: 57%;
   margin-left: -312px;
   margin-top: 52px;
   position: absolute;

}
.start-title{
    margin-top: 5px;
}


    



}


